<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite" thread-count="10" parallel="classes">
        <test verbose="2" name="Chrome">
            <parameter name="browser" value="chrome"/>
            <classes>
                <class name="UItestcases.FiltersButtonUITest">
                    <methods>
                        <include name="ValidateFiltersButton"/>
                    </methods>
                </class>
                <class name="UItestcases.SwaggerDocumentationUITest">
                    <methods>
                        <include name="getRequestWithoutAuthenticationTest"/>
                        <include name="authenticatedGetRequestTest"/>
                        <include name="getRequestWithoutAuthenticationTest"/>
                    </methods>
                </class>
                <class name="UItestcases.UploadCSVUITest">
                    <methods>
                        <include name="UploadCSVTestCase"/>
                    </methods>
                </class>
            </classes>
        </test>
        <test verbose="2" name="ApiTests">
            <classes>
                <class name="APItestcases.GetReportFromApiTest">
                    <methods>
                        <include name="getReport"/>
                    </methods>
                </class>
                <class name="APItestcases.GetReportNamesFromApiTest">
                    <methods>
                        <include name="getReportNamesInAscendingOrder"/>
                    </methods>
                </class>
            </classes>
        </test>
<!--        <test verbose="2" name="FireFox">-->
<!--            <parameter name="browser" value="firefox"/>-->
<!--            <classes>-->
<!--                <class name="UItestcases.FiltersButtonUITest">-->
<!--                    <methods>-->
<!--                        <include name="ValidateFiltersButton"/>-->
<!--                    </methods>-->
<!--                </class>-->
<!--                <class name="UItestcases.SwaggerDocumentationUITest">-->
<!--                    <methods>-->
<!--                        <include name="getRequestTest"/>-->
<!--                    </methods>-->
<!--                </class>-->
<!--                <class name="UItestcases.UploadCSVUITest">-->
<!--                    <methods>-->
<!--                        <include name="UploadCSVTestCase"/>-->
<!--                    </methods>-->
<!--                </class>-->
<!--            </classes>-->
<!--        </test>-->
        <test verbose="2" name="Edge">
            <parameter name="browser" value="edge"/>
            <classes>
                <class name="UItestcases.FiltersButtonUITest">
                    <methods>
                        <include name="ValidateFiltersButton"/>
                    </methods>
                </class>
                <class name="UItestcases.SwaggerDocumentationUITest">
                    <methods>
                        <include name="getRequestTest"/>
                    </methods>
                </class>
                <class name="UItestcases.UploadCSVUITest">
                    <methods>
                        <include name="UploadCSVTestCase"/>
                    </methods>
                </class>
            </classes>
        </test>
<!--        <test verbose="2" name="Safari">-->
<!--            <parameter name="browser" value="safari"/>-->
<!--            <classes>-->
<!--                <class name="UItestcases.FiltersButtonUITest">-->
<!--                    <methods>-->
<!--                        <include name="ValidateFiltersButton"/>-->
<!--                    </methods>-->
<!--                </class>-->
<!--                <class name="UItestcases.SwaggerDocumentationUITest">-->
<!--                    <methods>-->
<!--                        <include name="getRequestTest"/>-->
<!--                    </methods>-->
<!--                </class>-->
<!--                <class name="UItestcases.UploadCSVUITest">-->
<!--                    <methods>-->
<!--                        <include name="UploadCSVTestCase"/>-->
<!--                    </methods>-->
<!--                </class>-->
<!--            </classes>-->
<!--        </test>-->
    </suite>